<button *ngIf="(value$|async).right" (click)="multiply()">Multiply</button>

Value: {{ (value$ | async).output }}

<button *ngIf="(value$|async).right" (click)="divide()">Divide</button>

<button (click)="reset()">Reset</button>

History:
<div *ngFor="let step of (steps$ | async)">
    <div *ngIf="!step.right" style="background-color: red">
        ERROR! {{step.operation}}({{ step.input }}) = {{step.output}}.
    </div>
    <div *ngIf="step.right" style="background-color: green">
        {{step.operation}}({{ step.input }}) = {{step.output}}. </div>
</div>